body {
    width: 300px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px 0 0 0;
}

input {
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    width: 63vw;
}
p {
    font-size: 17px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 5px;

}
.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding: 5px;
    border: none;
    color: white;
}


.siteinput{
    position: relative;
    display: inline-block;
}
.siteinput input{
    padding-right: 30px;
}
.siteinput button{
    position: absolute;
    right: 0;
    left: 20;
    height: 100%;
    
}

button{
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
}
.buttonicon{
    border: none;
    background: transparent;
    padding: 0;
    margin-left: 5%;
}
.messageinput{
    position: relative;
    display: inline-block;
}
.messageinput #message{   
    height: 100px;
    width: 70vw;
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    border: 2px solid black;
    resize: none;
}

.messageinput #forward{
    position: absolute;
    right: 5px;
    bottom: 10px;
    border: none;
    background-color: transparent;
}
.Configure{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.CLI{
    text-align: center;
    margin-top: 35px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 5px 0 5px 0;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
}