.Floating-window{
    position: fixed;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232;
    color: white;
    padding: 4vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5vh;
    z-index: 10000000;
    width: 80%;
    margin: auto;
    margin-bottom: 1.3%;
    border-radius: 6vh;
    animation: Xbox 0.8s ease-in;
    transform: skew(100%);
}

.closing{
    border: none;
    background-color: red;
    color: white;
    margin-left: 2.6vh;
    padding: 1vh 2.3vh;
    cursor: pointer;
}
.parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes Xbox{
    from{transform: skew(0); width: 0; opacity: 0;}
    to{transform: skew(100%); width: 80%; opacity: 1;}
}   
