.Floating-window{
    position: fixed;
    justify-content: center;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #323232;
    color: white;
    padding: 4vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5vh;
    z-index: 10000000;
    width: 90%;
    margin: auto;
    margin-bottom: 1%;
    border-radius: 10vh;
    animation: SlideinUp 1s ease-in 1s 1 normal backwards ;
}
.closing{
    border: none;
    background-color: red;
    color: white;
    margin-left: 2.6vh;
    padding: 1vh 2.3vh;
    cursor: pointer;
}
.parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes SlideinUp{
    from{
        transform: translateY(120%);
        transform: translateX();
    }
    to{
        transform: translateY(0);
    }
}